body {
    text-align: center;
    color:black;
    background-color: gray;
    background: url(../images/plane.jpg) no-repeat bottom center scroll;
    padding-top: 80px;
}

.header {
    font-size: 300%;
    background-color: gray
}


#myNav ul { list-style: none; }

#myNav li { display: inline; }

#myNav a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#myNav a:hover, a:active {
    background-color: rgb(197, 5, 5);
}

#myNav .navbar-toggler { color: white }